{% extends 'appOkna/base.html' %}

{%block product%}

    <div class="main_content">

        {% include "appOkna/breadcrumbs.html" with type_entity="product" %}

        <h1 class="main_content_product_title">{{ product.title }}</h1>

        {% if product.image.url != '' %}
            <img class="main_content_product_img" src="{{ product.image.url }}">
        {% endif %}

        <div class="main_content_product_text">
            <p>{{ product.text }}</p>
        </div>

        <div style="clear: both;"></div>
    </div>

{%endblock%}